<h1 class="mt-4">Serviços Prestados</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">

        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Serviço prestado cadastrado/atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Cliente</label>
          <select name="" id="" class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="servico.idCliente">
            <option value="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
              {{ cliente.nome }}
            </option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text" name="descricao" id="descricao" class="form-control" [(ngModel)]="servico.descricao">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="preco">Preço</label>
          <input type="text" name="preco" id="preco" class="form-control" [(ngModel)]="servico.preco">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="data">Data</label>
          <input type="text" name="data" id="data" class="form-control" [(ngModel)]="servico.data">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
      </div>
    </div>
  </form>
</div>
