<h1 class="mt-4">Serviços Prestados</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary float-right" style="margin-bottom: 10px;" (click)="novoCadastro()"><i
          class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <form #consultaForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <label for="">Nome Cliente</label>
        <input type="text" name="txtnome" id="txtnome" [(ngModel)]="nome" class="form-control" />
      </div>
      <div class="col-md-4">
        <label for="">Mês</label>
        <select name="cmbmes" id="cmbmes" [(ngModel)]="mes" class="form-control">
          <option value=""  ng-selected="selected">Selecione ...</option>
          <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
        </select>
      </div>
      <div class="col-md-2" style="position:relative;top:32px;">
        <button type="submit" class="btn btn-outline-primary" (click)="pesquisar()"><i class="fa fa-search"></i> Pesquisar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover"  style="margin-top:5px;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome do Cliente</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of lista">
            <td>{{ servico.id }}</td>
            <td>{{ servico.cliente.nome }}</td>
            <td>{{ servico.data }}</td>
            <td>{{ servico.descricao }}</td>
            <td>{{ servico.valor | currency }}</td>
            <td>
              <button class="btn btn-primary btn-sm ml-1" routerLink="/servico-prestado-form/{{ servico.id }}"><i
                  class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelecao"
                (click)="preparaDelecao(servico)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4></h4>
          </div>
          <div class="modal-body" *ngIf="servicoSelecionado">
            <p>Deseja realmente excluir o serviço?</p>
            <p>Descrição: {{ servicoSelecionado.descricao }}</p>
            <p>Preço: {{ servicoSelecionado.preco }}</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" (click)="deletar()">Sim</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
