<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
      </div>

      <div class="alert alert-danger" role="alert" *ngFor="mensagemErro">
        {{ mensagemErro }}
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary float-right" style="margin-bottom: 10px;" (click)="novoCadastro()"><i
          class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data do Cadastro</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.dataCadastro }}</td>
            <td>
              <button class="btn btn-primary btn-sm ml-1" routerLink="/clientes-form/{{ cliente.id }}"><i
                  class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelecao"
                (click)="preparaDelecao(cliente)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4></h4>
          </div>
          <div class="modal-body" *ngIf="clienteSelecionado">
            <p>Deseja realmente excluir o cliente?</p>
            <p>Nome: {{ clienteSelecionado.nome }}</p>
            <p>CPF: {{ clienteSelecionado.cpf }}</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" (click)="deletar()">Sim</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
